.movies {
  display: flex;
  flex-wrap: wrap;
}
.movie {
  flex:1;
}
.card {
  
  margin: 10px;
 
  
}

.poster {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.title-container {
  display: flex;
  justify-content: space-between;
}
.icons-container {
  display: flex;
}

@media (max-width: 768px) { /*breakpoint*/
  .movies {
    flex-direction: column;
  }
}

.nav-link {
  text-decoration: none;
  color:#fff;
}

.form {
  margin: 5%;
  display: flex;
  flex-direction: column;
}